@import "functions";
@import "./mixings";

//header
header {
  display: flex;
  justify-content: space-between;
  padding: rem(30) rem(25);
  padding-bottom: 80%;
  background: url(../../assets/images/image-hero-mobile.webp);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  @include breakpoint-up(medium) {
    background: url(../../assets/images/image-hero-desktop.webp);
    padding-bottom: 30%;
    background-size: cover;
    margin-bottom: rem(190);
  }
}
.selection-wrapper {
  @include breakpoint-up(medium) {
    width: 1120px;
    padding: 0 10%;
    margin: 0 auto;
  }
}
