@import "./functions";
//paddings
$small: rem(10);
$medium: rem(20);
$big: rem(30);

///font
$font-sm: rem(12.5);
$font-sm-lh: rem(20);
$font-md: rem(18);

///margins standards
$margin-bottom-head: rem(40);
$margin-bottom-para: rem(30);
