@import "../functions";
@import "../variables";
@import "../mixings";

.fancy-button {
  background: $moderate_cyan;
  @include breakpoint-up(medium) {
    padding: rem(20) rem(40);
  }
  @include breakpoint-down(medium) {
    padding: rem(10) rem(20);
  }
  border-radius: rem(50);
  border: none;
  color: $white;
  display: lnline-block;
  font-weight: 700;
}
