@import "../functions";
@import "../mixings";
@import "../variables";
@import "../colors";
$paracolor: lighten($dark_gray, 10%);
body {
  background: lighten($dark_gray, 50%);
}
///middle section
.center {
  margin: rem(0) rem(25) rem(25);
  text-align: center;
  box-shadow: 0px 0px 1px 1px lighten($dark_gray, 40%);
  margin-top: -25%;
  background: #fff;
  border-radius: rem(10);
  padding: rem(40) rem(25);
  @include breakpoint-up(medium) {
    padding: rem(40) rem(50);
  }
  &_logo {
    text-align: center;
    margin-bottom: rem(25);
    margin-top: rem(-70);
  }
  h3 {
    font-size: rem(20);
    font-weight: 700;
    margin-bottom: rem(25);
    @include breakpoint-up(medium) {
      font-size: rem(28);
      margin-bottom: rem(25);
    }
  }
  p {
    font-size: rem(15);
    color: $dark_gray;
    margin-bottom: rem(30);
    @include breakpoint-up(medium) {
      font-size: rem(17);
      margin-bottom: rem(40);
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: space-between;
    &_block {
      display: flex;
      align-items: center;
      z-index: 1;
      img {
        z-index: 1;
      }
      div {
        @include breakpoint-down(medium) {
          display: none;
        }
        font-weight: 700;
        background: lighten($dark_gray, 40%);
        color: lighten($dark_gray, 10%);
        padding: rem(19);
        margin-left: rem(-56);
        padding-left: rem(67);
        border-radius: rem(30);
      }
    }
  }
  .fancy-button {
    margin-right: rem(10);
  }
}
//project details section
.project-details {
  margin: rem(0) rem(25) rem(25);
  text-align: center;
  box-shadow: 0px 0px 1px 1px lighten($dark_gray, 40%);
  background: #fff;
  border-radius: rem(10);
  padding: rem(40) rem(25);
  @include breakpoint-up(medium) {
    padding: rem(50);
  }
  &__wrapper {
    @include breakpoint-up(medium) {
      display: flex;
      justify-content: start;
    }
  }
  &__price {
    @include breakpoint-up(medium) {
      text-align: left;
      padding-right: rem(40);
      position: relative;
      margin-right: rem(10);
    }
    &:after {
      @include breakpoint-up(medium) {
        content: "";
        display: block;
        height: 60%;
        width: 1px;
        background: #7a7a7a;
        position: absolute;
        margin: 0 rem(10);
        top: 10%;
        right: 0;
      }
    }
  }
  &__backers {
    @include breakpoint-up(medium) {
      text-align: left;
      padding-right: rem(40);
      position: relative;
      margin-right: rem(10);
    }
    &:after {
      @include breakpoint-up(medium) {
        content: "";
        display: block;
        height: 60%;
        width: 1px;
        margin: 0 rem(10);
        background: #7a7a7a;
        position: absolute;
        top: 10%;
        right: 0;
      }
    }
  }
  &__days {
    @include breakpoint-up(medium) {
      text-align: left;
      padding-right: rem(40);
      position: relative;
      margin-right: rem(10);
    }
  }
  &__emphasis {
    font-size: rem(30);
    font-weight: 700;
    margin-bottom: rem(10);
  }
  &__subhead {
    margin-bottom: rem(25);
    color: lighten($dark_gray, 20%);
  }
  .progress-bar {
    background: lighten($dark_gray, 40%);
    height: rem(10);
    margin: 0 auto;
    position: relative;
    &:after {
      height: 100%;
      width: 50%;
      background: $moderate_cyan;
      position: absolute;
      top: 0;
    }
  }
}
.project-discriptions {
  text-align: left;
  margin: rem(0) rem(25) rem(25);
  box-shadow: 0px 0px 1px 1px lighten($dark_gray, 40%);
  background: #fff;
  border-radius: rem(10);
  padding: rem(40) rem(25);
  @include breakpoint-up(medium) {
    padding: rem(40) rem(50);
  }
  h3 {
    font-size: rem(20);
    font-weight: 700;
    margin-bottom: rem(25);
  }
  p {
    font-size: rem(14);
    line-height: rem(25);
    color: $paracolor;
    @include breakpoint-up(medium) {
      font-size: rem(15);
    }
  }
  &__card {
    box-shadow: 0px 0px 1px 1px lighten($dark_gray, 40%);
    padding: rem(25);
    border-radius: rem(10);
    margin-bottom: rem(25);
    @include breakpoint-up(medium) {
      padding: rem(40);
    }
    .card-head {
      @include breakpoint-up(medium) {
        display: flex;
        justify-content: space-between;
      }
    }
    h4 {
      font-size: rem(15);
      font-weight: 700;
      @include breakpoint-up(medium) {
        display: inline;
        font-size: rem(20);
      }
    }
    .card-subheader {
      color: $moderate_cyan;
      font-weight: 600;
      @include breakpoint-up(medium) {
        display: inline;
        font-size: rem(15);
      }
    }
  }
  &__left {
    margin-bottom: rem(25);
    @include breakpoint-up(medium) {
      display: flex;
      justify-content: space-between;
    }
    .fancy-button {
      @include breakpoint-up(medium) {
        font-size: rem(13);
      }
    }
    span {
      &:first-child {
        font-size: rem(30);
        font-weight: 700;
        padding-right: rem(10);
      }
      &:nth-child(2) {
        color: $paracolor;
      }
    }
  }
  .wrap {
    display: flex;
    align-items: center;
    @include breakpoint-down(medium) {
      margin-bottom: rem(20);
    }
  }
}
////out of stocks
.out-of-stocks {
  filter: grayscale(100%);
  h4 {
    color: $dark_gray;
  }
}
